.heading {
  display: flex;
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.heading_name,
.heading_population {
  color: var(--text-secondary);
  flex: 1;
  padding: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.row:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  flex: 1;
  text-align: left;
}
.population {
  flex: 1;
}

.heading_name {
  justify-content: flex-start;
}
.heading_arrow {
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 2px;
}
